* {box-sizing: border-box;}
ul {list-style-type: none;}
body {
    font-family: Verdana, sans-serif;
    margin-bottom: 7%;
    margin-top: 10%;


}

.calendarContainer{
    width: 70%;
    margin-left: 15%;
    margin-top: 20%;
    height: 50%;
}

.month {
  padding: 50px 25px;
  width: 100%;
  background: #ffc800;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 20px 0px;
  
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 40px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 50px;
  font-size:20px;
  color: #777;
}

.days li .active {
  padding: 25px;
  background: #ffc800;
  color: white !important
}

